.button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* Variants */
.add {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #A7D5FF;
    -fx-padding: 5px 20px;
    -fx-border-color: #787878;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

.accept {
    -fx-background-color: #A7FFA7;
}

.reject {
    -fx-background-color: #FFA7A7;
}

.add:hover {
    -fx-background-color: #8FC5FF;
}

/* Highlighted Variant */

.h-accept {
    -fx-background-color: #098B2D;
    -fx-text-fill: white;
}

.h-reject {
    -fx-background-color: #8B0909;
    -fx-text-fill: white;
}

.h-view {
    -fx-background-color: #2F00ED;
    -fx-text-fill: white;
}

.h-update {
    -fx-background-color: #A4C2E4;
    -fx-text-fill: white;
}

.h-accept:hover {
    -fx-background-color: #0A5A1C;
}

.h-reject:hover {
    -fx-background-color: #5A0A0A;
}

.h-view:hover {
    -fx-background-color: #1A00A1;
}

.h-update:hover {
    -fx-background-color: #6A82C4;
}


