.button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* Variants */
.add {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #2563eb;
    -fx-padding: 5px 20px;
    -fx-border-color: #3b82f6;
    -fx-border-width: 1px;
    -fx-text-fill: white;
}

.add:hover {
    -fx-background-color: #316df8;
}

.accept {
    -fx-background-color: #A7FFA7;
}

.reject {
    -fx-background-color: #FFA7A7;
}


/* Highlighted Variant */

.h-accept {
    -fx-background-color: #098B2D;
    -fx-text-fill: white;
}

.h-reject {
    -fx-background-color: #AD3838;
    -fx-text-fill: white;
}

.h-warning {
    -fx-background-color: #cb8103;
    -fx-text-fill: white;
}

.h-view {
    -fx-background-color: #2F00ED;
    -fx-text-fill: white;
}

.h-update {
    -fx-background-color: #A4C2E4;
    -fx-text-fill: white;
}

.h-accept:hover {
    -fx-background-color: #0A5A1C;
}

.h-reject:hover {
    -fx-background-color: #5A0A0A;
}

.h-view:hover {
    -fx-background-color: #1A00A1;
}

.h-update:hover {
    -fx-background-color: #6A82C4;
}

.drop-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 0, 2);
}


