.root-pane.scroll-pane {
    -fx-background-color: transparent;
}

.root-pane.scroll-pane .viewport {
    -fx-background-color: #f5f5f5;
}

.root-pane {
    -fx-background-color: #f5f5f5;
}

.label-background {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #D9D9D9;
}
