.panel {
    -fx-border-color: #000000;
    -fx-background-color: #f1f0ef;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: #f1f0ef;
}

.border {
    -fx-border-color: #787878;
    -fx-border-radius: 10px;
}


.file-chooser {
    -fx-background-color: #ffffff;
    -fx-border-color: #787878;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}


.input-date.date-picker {
    -fx-background-color: #ffffff;
    -fx-border-color: #d1d5db;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}

.input-date.date-picker .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: none;
}

.input-date.date-picker .arrow-button {
    -fx-background-color: #ffffff;

}

.input-date.date-picker .text-field:empty:focused {
    -fx-cursor: default;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.input-date.date-picker:focused {
    -fx-border-color: #2563eb;
    -fx-background-color: #ffffff;
    -fx-border-width: 2px;
}

.text-field {
    -fx-padding: 6px 12px;
    -fx-text-fill: #111827;
    -fx-prompt-text-fill: #9ca3af;
    -fx-border-color: #d1d5db;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: white;
}

.text-field:focused {
    -fx-border-color: #2563eb; /* Blue border on focus (blue-500 equivalent) */
    -fx-background-color: white;
    -fx-border-width: 2px;
}

.text-area {
    -fx-padding: -1;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}

.text-area .content {
    -fx-padding: 6px 12px;
    -fx-text-fill: #111827;
    -fx-prompt-text-fill: #9ca3af;
    -fx-border-color: #d1d5db;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: white;
}

.text-area:focused .content {
    -fx-border-color: #2563eb;
    -fx-background-color: white;
    -fx-border-width: 2px;
}


.error.text-area .content {
    -fx-border-color: red;
}

.combo-box {
    -fx-padding: 2px;
    -fx-text-fill: #111827;
    -fx-border-color: #d1d5db;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: white;
}

.combo-box:focused {
    -fx-border-color: #2563eb; /* Blue border on focus */
    -fx-border-width: 2px; /* Keep the border width consistent */
    -fx-background-color: white; /* Ensure background remains white */
}


.combo-box .list-cell {
    -fx-background-color: white; /* Set background color of list items */
    -fx-text-fill: #111827; /* Text color */
    -fx-padding: 6px 12px; /* Consistent padding for list items */
}

.combo-box .list-cell:hover {
    -fx-background-color: #f3f4f6; /* Light gray background on hover */
}

.combo-box .arrow-button {
    -fx-background-color: white; /* Match background with ComboBox */
    -fx-border-radius: 7px;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #2c2b2b;
    -fx-border-radius: 5px;
    -fx-background-radius-radius: 5px;
}

.radio-button .radio {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

/*  Profile Container*/
.profile-container {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #787878;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 2);
    -fx-border-width: 2px;
}

.view-id {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

/*!* Input Container*!*/

/*.input-container-rounded {*/
/*    -fx-border-radius: 10px;*/
/*}*/

/*.input-container-first {*/
/*    -fx-border-radius: 10px 10px 0 0;*/
/*}*/

/*.input-container-default {*/
/*    -fx-border-radius: 10px;*/
/*}*/

/*.input-container-last {*/
/*    -fx-border-radius: 0 0 10px 10px;*/
/*}*/

/*!* Label *!*/
/*.input-label {*/
/*    -fx-background-color: #EEFCFF;*/
/*}*/

/*.input-label-rounded {*/
/*    -fx-background-radius: 10px 0 0 10px;*/
/*}*/

/*.input-label-first {*/
/*    -fx-background-radius: 10px 0 0 0;*/
/*}*/

/*.input-label-default {*/
/*    -fx-background-radius: 10px 0 0 10px;*/
/*}*/

/*.input-label-last {*/
/*    -fx-background-radius: 0 0 0 10px;*/
/*}*/

/*!* Text field*!*/
/*.text-input {*/
/*    -fx-border-color: none;*/
/*    -fx-background-color: #ffffff;*/
/*}*/

/*.text-input-first {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 0 10px 0 0;*/
/*    -fx-background-radius: 0 10px 0 0;*/
/*}*/

/*.text-input-default {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 0 10px 10px 0;*/
/*    -fx-background-radius: 0 10px 10px 0;*/
/*}*/

/*.text-input-rounded {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 10px;*/
/*    -fx-background-radius: 10px;*/
/*}*/

/*.text-input-semirounded {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 0 10px 10px 0;*/
/*    -fx-background-radius: 0 10px 10px 0;*/
/*}*/

/*.text-input-inverted-semirounded {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 10px 0 0 10px;*/
/*    -fx-background-radius: 10px 0 0 10px;*/
/*}*/


/*.text-input-last {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 0 0 10px 0;*/
/*    -fx-background-radius: 0 0 10px 0;*/
/*}*/

/*.text-area {*/
/*    -fx-background-color: #ffffff;*/
/*}*/

/*.text-area .content {*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-border-color: #787878;*/
/*    -fx-border-radius: 10px;*/
/*    -fx-background-radius: 10px;*/
/*}*/

/*.error.text-area .content {*/
/*    -fx-border-color: red;*/
/*}*/

/*!* File Chooser*!*/

/*.file-chooser {*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-border-color: #787878;*/
/*    -fx-border-radius: 10px;*/
/*    -fx-background-radius: 10px;*/
/*}*/

/*.file-date.date-picker {*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-border-color: #787878;*/
/*    -fx-border-radius: 10px;*/
/*    -fx-background-radius: 10px;*/
/*}*/

/*.file-date.date-picker .text-field {*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-border-radius: 10px 0 0 10px;*/
/*    -fx-background-radius: 10px 0 0 10px;*/
/*}*/

/*.file-date.date-picker .arrow-button {*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-border-radius: 10px;*/
/*    -fx-background-radius: 10px;*/
/*}*/

/*.file-date.date-picker .text-field:empty:focused {*/
/*    -fx-cursor: default;*/
/*    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);*/
/*}*/

/*.input-date.date-picker {*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-border-color: transparent;*/
/*}*/

/*.input-date.date-picker .text-field {*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-border-color: none;*/
/*}*/

/*.input-date.date-picker .arrow-button {*/
/*    -fx-background-color: #ffffff;*/

/*}*/

/*.input-date.date-picker .text-field:empty:focused {*/
/*    -fx-cursor: default;*/
/*    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);*/
/*}*/

/*.input-date-rounded.date-picker .text-field {*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-border-radius: 10px;*/
/*    -fx-background-radius: 10px;*/
/*}*/

/* Check Box */








