.background {
    -fx-border-color: black;
}

/*Confirm Modal*/
.yes-btn {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-background-color: transparent;
}

.no-btn {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-background-color: transparent;
}

.yes-btn:hover {
    -fx-background-color: #f0f0f0;
}

.no-btn:hover {
    -fx-background-color: #f0f0f0;
}

/* Reject Modal*/

.reject-btn.accept {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-background-color: #a90606;
}

.reject-btn {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-background-color: transparent;
}

.reject-btn:hover {
    -fx-background-color: #f0f0f0;
}


/*Success*/

