.background {
    -fx-background-color: #82d4ed;
}

.login-container {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 20px; /* Rounded corners */
}

.login-input {
    -fx-padding: 6px 12px;
    -fx-text-fill: #111827;
    -fx-prompt-text-fill: #9ca3af;
    -fx-border-color: #d1d5db;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: white;
}

.login-input:focused {
    -fx-border-color: #2563eb;
    -fx-background-color: white;
    -fx-border-width: 2px;
}

.exit-btn {
    -fx-cursor: hand;
}

.logo {
    /*-fx-opacity: 0.1;*/
    
}



